In [1]:
#Topic: List
# Q1. Create a list of 5 random numbers and print the list

numbers = [4, 7, 1, 9, 3]
print("List of random numbers:", numbers)

List of random numbers: [4, 7, 1, 9, 3]

In [2]:
# Q2. Insert 3 new values to the list and print the updated list

numbers.extend([5, 2, 8])
print("Updated list:", numbers)

Updated list: [4, 7, 1, 9, 3, 5, 2, 8]

In [3]:
# Q3. Access the third element in the list and print the element

print("Third element:", numbers[2])

Third element: 1

In [4]:
# Q4. Create a new list of 3 random strings and concatenate the two lists into a third list

strings = ["Earth", "Fire", "water"]
combined_list = numbers + strings
print("Combined list:", combined_list)

Combined list: [4, 7, 1, 9, 3, 5, 2, 8, 'Earth', 'Fire', 'water']

In [5]:
# Q5. Use a for loop to print each element in the list

for element in combined_list:
    print(element)

4
7
1
9
3
5
2
8
Earth
Fire
water

In [6]:
#Topic: Dictionary
# Q1. Create a dictionary with keys 'name', 'age', and 'address'

person = {'name': 'John', 'age': 25, 'address': 'New York'}
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [7]:
# Q2. Add a new key-value pair to the dictionary with key 'phone' and value '1234567890'

person['phone'] = '1234567890'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

In [8]:
# Q3. Remove the key 'address' from the dictionary

person.pop('address')
print("Dictionary after removal of 'address':", person)

Dictionary after removal of 'address': {'name': 'John', 'age': 25, 'phone': '1234567890'}

In [9]:
# Q4. Print the value of the key 'age'

print("Age:", person['age'])

Age: 25

In [10]:
# Q5. Check if the key 'phone' exists in the dictionary

print("'phone' key exists:", 'phone' in person)

'phone' key exists: True

In [11]:
#Topic: Set
# Q1. Create a set with values 1, 2, 3, 4, and 5

numbers_set = {1, 2, 3, 4, 5}
print("Set:", numbers_set)

Set: {1, 2, 3, 4, 5}

In [12]:
# Q2. Add the value 6 to the set

numbers_set.add(6)
print("Set after adding 6:", numbers_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [13]:
# Q3. Remove the value 3 from the set

numbers_set.discard(3)
print("Set after removing 3:", numbers_set)

Set after removing 3: {1, 2, 4, 5, 6}

In [14]:
# Q4. Print the length of the set

print("Length of set:", len(numbers_set))

Length of set: 5

In [15]:
# Q5. Create a new set by union of the set with another set {6, 7, 8}

new_set = numbers_set.union({6, 7, 8})
print("Union of sets:", new_set)

Union of sets: {1, 2, 4, 5, 6, 7, 8}

In [16]:
#Topic: Tuple
# Q1. Create a tuple with values 1, 2, 3, and 4

tuple1 = (1, 2, 3, 4)
print("Tuple:", tuple1)

Tuple: (1, 2, 3, 4)

In [17]:
# Q2. Print the length of the tuple

print("Length of tuple:", len(tuple1))

Length of tuple: 4

In [18]:
# Q3. Create a new tuple by concatenating the tuple with another tuple (5, 6)

tuple2 = tuple1 + (5, 6)
print("Concatenated tuple:", tuple2)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [19]:
# Q4. Print the first two values of the tuple

print("First two values of the tuple:", tuple2[:2])

First two values of the tuple: (1, 2)

In [20]:
# Q5. Check if the value 4 exists in the tuple

print("Does 4 exist in the tuple?", 4 in tuple1)

Does 4 exist in the tuple? True

In [21]:
#Topic: String, List-Set-Dictionary Comprehension
# Q1. Name Manipulation Example

first_name = input("Please enter your first name: ")
last_name = input("Please enter your last name: ")

full_name = first_name.upper() + " " + last_name.upper()
initials = first_name[0].upper() + " " + last_name[0].upper()

print(f"Your full name is {full_name}")
print(f"Your initials are {initials}")
print(f"First name length is {len(first_name)} letters")
print(f"Last name length is {len(last_name)} letters")
print(f"Full name length is {len(first_name) + len(last_name)} letters")
print(f"First name starts with {first_name[0].upper()}")
print(f"First name ends with {first_name[-1].upper()}")
print(f"Last name starts with {last_name[0].upper()}")
print(f"Last name ends with {last_name[-1].upper()}")
print(f"First name indexes are 0 – {len(first_name) - 1}")
print(f"Last name indexes are 0 – {len(last_name) - 1}")
print(f"First name trims 1 {first_name[:3]}")
print(f"First name trims 2 {first_name[1:]}")
print(f"Last name trims 1 {last_name[:3]}")
print(f"Last name trims 2 {last_name[1:]}")

Please enter your first name:  jishnu
Please enter your last name:  karat

Your full name is JISHNU  KARAT
Your initials are J K
First name length is 7 letters
Last name length is 5 letters
Full name length is 12 letters
First name starts with J
First name ends with
Last name starts with K
Last name ends with T
First name indexes are 0 – 6
Last name indexes are 0 – 4
First name trims 1 jis
First name trims 2 ishnu
Last name trims 1 kar
Last name trims 2 arat

In [22]:
# Q2. Partly encrypt and display name

name = input("Enter your name: ")
encrypted_name = name[0] + "**" + name[-1]
print("Encrypted name:", encrypted_name)

Enter your name:  jishnu ekarat

Encrypted name: j**t

In [23]:
# Q3. Count strings with same first and last characters

strings_list = ['abc', 'xyz', 'aba', '1221']
count = sum(1 for s in strings_list if len(s) >= 2 and s[0] == s[-1])
print("Expected Result:", count)

Expected Result: 2

In [24]:
# Q4. Numbers divisible by 7

divisible_by_7 = [x for x in range(1, 1001) if x % 7 == 0]
print("Numbers divisible by 7:", divisible_by_7)

Numbers divisible by 7: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [25]:
# Q5. Dictionary with values divided by 3

lst = [3, 6, 9, 12]
div_by_3_dict = {x: x // 3 for x in lst}
print("Dictionary:", div_by_3_dict)

Dictionary: {3: 1, 6: 2, 9: 3, 12: 4}