In [23]:
#Exercise 1 

def custom_function(arg1, arg2=10, arg3=None):
    if arg3 is None:
        print(f"Sum: {arg1 + arg2}")
    else:
        print(f"Product: {arg1 * arg2 * arg3}")


custom_function(5)            
custom_function(5, 20)       
custom_function(5, 20, 2) 
custom_function(8)
custom_function(9, 20)
custom_function(10, 20, 8)

Sum: 15
Sum: 25
Product: 200
Sum: 18
Sum: 29
Product: 1600

In [25]:
#Exercise 2 

def filter_strings(strings):
    return [s for s in strings if len(s) >= 5]

string_list = ["JISHNU", "E", "KARAT", "IS", "STUDIED", "DATA SCIENCE"]
print(filter_strings(string_list))

['JISHNU', 'KARAT', 'STUDIED', 'DATA SCIENCE']

In [27]:
#Exercise 3 

expression = "3 * 5 + 2"
result = eval(expression)
print(result)

17

In [39]:
#Exercise 4 

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def filter_primes(numbers):
    return list(filter(is_prime, numbers))


num_list = [3, 4, 7, 9, 11, 13, 15]
print(filter_primes(num_list))

num_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(filter_primes(num_list))

num_list = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print(filter_primes(num_list))

[3, 7, 11, 13]
[2, 3, 5, 7]
[11, 13, 17, 19]

In [41]:
#Exercise 5 

def to_uppercase(strings):
    return list(map(str.upper, strings))


string_list = ["palakkad", "kerala", "india", "asia", "Earth"]
print(to_uppercase(string_list))

['PALAKKAD', 'KERALA', 'INDIA', 'ASIA', 'EARTH']

In [43]:
#Exercise 6 

def string_lengths(strings):
    return list(map(len, strings))


string_list = ["palakkad", "kerala", "india", "asia", "Earth"]
print(string_lengths(string_list))

[8, 6, 5, 4, 5]

In [47]:
#Exercise 7 

from functools import reduce

def sum_elements(numbers):
    return reduce(lambda x, y: x + y, numbers)


num_list = [1, 2, 3, 4, 5]
print(sum_elements(num_list)) 

num_list = [10, 20, 30, 40, 50]
print(sum_elements(num_list))

15
150

In [53]:
#Exercise 8 

from functools import reduce

def max_element(numbers):
    return reduce(lambda x, y: x if x > y else y, numbers)


num_list = [1, 7, 3, 9, 2]
print(max_element(num_list))  

num_list = [8, 5, 2, 7, 3]
print(max_element(num_list))

num_list = [10, 7, 30, 9, 20]
print(max_element(num_list))

9
8
30