In [1]:
# Exercise 1: Print your name, student number, and email address

print("Jishnu E Karat")
print("ST2255")
print("jishnuekarat@gmail.com")

Jishnu E Karat
ST2255
jishnuekarat@gmail.com

In [2]:
# Exercise 2: Using escape sequences

print("Jishnu E Karat\nST2255\njishnuekarat@gmail.com")

Jishnu E Karat
ST2255
jishnuekarat@gmail.com

In [3]:
# Exercise 3: Basic arithmetic operations with two numbers (14 and 7

a = 14
b = 7
print(f"{a} + {b} = {a + b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}")

14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2.0

In [4]:
# Exercise 4: Print numbers from 1 to 5 as steps

for i in range(1, 6):
    print(i)

1
2
3
4
5

In [5]:
# Exercise 5: Python code that outputs the following sentence (including the quotation marks and line break)

print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [6]:
# Exercise 6: Check outputs for different print scenarios

print("python is an \"awesome\" language.")   
print("python\n\t2023")                      
print('I\'m from Entri.\b')                  
print("\65")                                 
print("\x65")                                
print("Entri", "2023", sep="\n")            
print("Entri", "2023", sep="\b")             
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [7]:
# Exercise 7: Variables and type conversion

num = 23
textnum = "57"
decimal = 98.3

# Print types of each variable

print(type(num))        # int
print(type(textnum))    # str
print(type(decimal))    # float

# Convert textnum to int and calculate sum

sum_of_vars = num + int(textnum) + decimal
print(f"Sum: {sum_of_vars}, Type: {type(sum_of_vars)}")

<class 'int'>
<class 'str'>
<class 'float'>
Sum: 178.3, Type: <class 'float'>

In [8]:
# Exercise 8: Calculate the number of minutes in a year

days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

# Calculate total minutes in a year

total_minutes = days_in_year * hours_in_day * minutes_in_hour
print(f"There are {total_minutes} minutes in a year.")

There are 525600 minutes in a year.

In [9]:
# Exercise 9: Greet the user by their name

name = input("Please enter your name:JISHNU E KARAT")
print(f"Hi {name}, welcome to Python programming ")

Please enter your name:JISHNU E KARAT 546

Hi 546, welcome to Python programming

In [ ]:
# Exercise 10: Pounds to Dollars conversion

pounds = float(input("Please enter amount in pounds (£): "))
conversion_rate = 1.25 
dollars = pounds * conversion_rate
print(f"£ {pounds} are $ {dollars:.2f}")